<html>
    <head>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Diplomata' >
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
        <h1><center>TODO App</center></h1>
        <hr width="50%">
    </head>
    <body>
        <h3><center>DESCRIPTION</center></h3>
        
          <center>  <textarea rows="4" cols="50" placeholder="Describe Your Task Here..."></textarea></center>
          <hr width="50%">
          <h4>Category:</h4>
          <div class="dropdown">
            
            <button class="dropbtn">Choose a category</button>
            <div class="dropdown-content">
              <a href="#">Travelling</a>
              <a href="#">Exercise</a>
              <a href="#">Reading</a>
              <a href="#">Studying</a>
              <a href="#">Other</a>
            </div>
            
          </div>
          <div id="Due_Date">
          Due Date: <input type="date" name="bday">
        </div>
          <hr width="50%">
          
          <button class="btn-success" type="reset">
            <i class="fas fa-plus-square"></i> Add Task
        </button>
        <button class="btn-success" type="reset">
          <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Task
      </button>
      <hr width="50%">
          
    </body>
</html>